@import "tailwindcss";

@theme {
  --font-sans: "Archivo", sans-serif;
  --font-mono: "Fragment Mono", monospace;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
